<%% title "<%= plural_name.titleize %>" %>

<%- if action? :new -%>
<p><%%= link_to "Adicionar +", { :controller => controller.controller_name, :action => 'new' } %></p>
<%- end -%>
<table>
  <tr>
  <%- for attribute in model_attributes -%>
    <th><%= attribute.human_name.titleize %></th>
  <%- end -%>
  </tr>
  <%% for <%= instance_name %> in @<%= instances_name %> %>
    <tr>
    <%- for attribute in model_attributes -%>
      <td><%%= <%= instance_name %>.<%= attribute.name %> %></td>
    <%- end -%>
    <%- if action? :show -%>
      <td><%%= link_to "Exibir", <%= item_path %> %></td>
    <%- end -%>
    <%- if action? :edit -%>
      <td><%%= link_to "Editar", <%= item_path :action => :edit %> %></td>
    <%- end -%>
    <%- if action? :destroy -%>
      <td><%%= link_to "Excluir", <%= item_path %>, :confirm => 'Esta ação não tem volta, deseja prosseguir?', :method => :delete %></td>
    <%- end -%>
    </tr>
  <%% end %>
</table>


